html {
    height: 100%;
    width: 100%;

    font-size: 12px;
    line-height: 1.5;
}
body {
    margin: auto;
    margin-top: 5vh;
    width: 95%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.main_div {
    display: block;
    border-radius: 7px;
    padding: 16px;
    overflow-x: hidden;
}

.versioning {
    text-align: right;
}

input, textarea {
    border: none;
    outline: none;
    resize: none;

    border-radius: 3px;

    font-size: 80%;
    margin: 1%;
    padding: 0.4rem;
    width: 8rem;
    height: 2rem;
}

td {
    padding-left:  0.3rem;
    padding-right: 0.3rem;
}

button {
    border: none;
    outline: none;

    cursor: pointer;

    border-radius: 3px;

    font-size: 90%;
    margin: 1%;
    padding: 1%;
}

.suggestions {
    position: absolute;
    z-index: 1000;
    overflow-y: auto;

    max-height: 200px;
    width: 16rem;

    border-radius: 5px;
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #FFFFFF80;
}